<html>
    <head>
      <title>Address List</title>   
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="btn">
            <a href="#" class="btn btn-primary">All Contacts</a>
            <a href="/new" class="btn btn-primary">New Contacts</a>
          </div>
        </div>
        <div class="container">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Email</th> 
                <th>Address</th>
                <th>Phone_No</th>
              </tr>
            <% _.each(addresses, function(ad) { %>
              <tr>
                <td> <%= ad.name %>  </td>
                <td> <%= ad.email %> </td> 
                <td> <%= ad.address %> </td>
                <td> <%= ad.phone %> </td>
              </tr>
            <% }); %>
            </table>
        </div>
    </body>
</html>

